@import url("https://fonts.googleapis.com/css2?family=Dancing+Script:wght@600&display=swap");

body {
  margin: 0;
  text-align: center;
  font-family: sans-serif;
  cursor: default;
}

#imagem1 {
  border: dotted white 5px;
  box-shadow: 1px 1px 20px rgba(0, 0, 0, 0.486);
  margin-top: 15px;
  border-radius: 50%;
  width: 200px;
  height: 200px;
  margin-bottom: -105px;
}

#section1 {
  bottom: 80px;
  display: table;
  width: 100%;
  height: 650px;
  background-image: linear-gradient(45deg, rgb(163, 241, 255), #1d7fff);
}

#nome {
  text-shadow: 1px 1px 20px rgba(0, 0, 0, 0.486);
  font-family: "Dancing Script", cursive;
  font-size: 65px;
  color: white;
  height: 20px;
  text-decoration: underline;
  transition-duration: 300ms;
  transition-timing-function: ease-in-out;
}

#nome:hover {
  transform: rotate(-2deg) scale(1.1);
}

#nome::first-letter {
  color: #3268ff;
}

.treco {
  display: table-cell;
  vertical-align: middle;
}

#seta {
animation: sets 1s ease-in-out alternate infinite;
  height: 100px;
}

#linhahr {
  transform: translateY(122px);
  border: solid 5px rgba(0, 102, 255, 0.473);
}

#desc {
  color: white;
  text-shadow: 1px 1px 20px rgba(0, 0, 0, 0.486);
}

#section2 {
  padding: 50px;
}

.linha {
    box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.63);
    height: 2px;
    width: 200px;
    margin: 20px auto;
    background-image: linear-gradient(45deg, rgb(163, 241, 255), #1d7fff);
}

@keyframes sets {
    from {
        transform: translateY(0px);
    }

    to {
        transform: translateY(25px);
    }
}